@import "../../../../styles/variables";

.container {
  width: 615px;
  height: 872px;
  margin-right: 0;
  position: absolute;
  top: -187px;
  right: 0;
  @media screen and (max-width: 1360px) {
    width: 500px;
  }
  @media screen and (max-width: 1200px) {
    position: static;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 60px;
  }
}

.container__firstImage {
  background-color: #484848;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../../../../../public/images/Zaglushka.png");
  height: 480px;
  @media (max-width: 600px) {
    background-size: contain;
    height: 337px;
  }
}

.container__buttons {
  margin-right: 120px;
  margin-top: 30px;
  gap: 30px;
  display: flex;
  @media screen and (max-width: 1360px) {
    margin-right: 80px;
  }
  @media screen and (max-width: 800px) {
    margin-right: 40px;
  }
  @media (max-width: 600px) {
    gap: 10px;
    margin-right: 0;
  }
  & button {
    font-family: Lato;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: none;
    width: 232px;
    height: 210px;
    color: $color-neutral-white;
    cursor: pointer;
    padding: 30px 45px;
    @media (max-width: 600px) {
      width: 168px;
      height: 180px;
      padding: 20px 25px;
    }
  }
}

.container__buttons__firstButton {
  background-image: url("../../.././../../public/images/Rectangle.png");
  &:hover {
    opacity: 0.9;
    font-size: 18px;
    transition: 0.5s;
  }
}

.container__buttons__secondButton {
  padding: 0 25px;
  background-image: url("../../.././../../public/images/Rectangle1.png");
  &:hover {
    opacity: 0.9;
    font-size: 18px;
    transition: 0.5s;
  }
}
