@import "../../../styles/variables";

.container {
  position: absolute;
  width: 615px;
  height: 872px;
  right: 0;
  top: 0;
  @media screen and (max-width: 1360px) {
    width: 500px;
  }
}

.container__firstImage {
  background-image: url("../../../../public/images/Zaglushka.png");
  width: 100%;
  height: 480px;
}

.container__buttons {
  margin-right: 120px;
  margin-top: 30px;
  gap: 31px;
  display: flex;
  @media screen and (max-width: 1360px) {
    margin-right: 100px;
  }
  & button {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border: none;
    width: 232px;
    height: 210px;
    color: $color-neutral-white;
    cursor: pointer;
  }
}

.container__buttons__firstButton {
  padding: 0 25px;
  padding-top: 117px;
  background-image: url("../../.././../public/images/Rectangle.png");
  &:hover {
    opacity: 0.9;
    font-size: 18px;
    transition: 0.5s;
  }
}

.container__buttons__secondButton {
  padding: 0 25px;
  padding-top: 127px;
  background-image: url("../../.././../public/images/Rectangle1.png");
  &:hover {
    opacity: 0.9;
    font-size: 18px;
    transition: 0.5s;
  }
}
