.container {
  width: 930px;
  height: 450px;
  position: relative;
  overflow: scroll;
  z-index: 0;
  @media screen and (max-width: 1360px) {
    width: 800px;
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.container__map {
  top: 0;
  position: absolute;
  left: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url("../../../../../public/images/map.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.pin {
  position: absolute;
  width: 78px;
  height: 93px;
  z-index: 2;
  &:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition-delay: 0.1s;
  }
}

.activePin {
  transform: scale(1.2);
  transition: 0.5s;
}

.saffariPin {
  background-image: url("../../../../../public/images/pins/saffari.png");
  width: 74px;
  height: 89px;
  position: absolute;
  top: 157px;
  left: 388px;
  &:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition-delay: 0.1s;
  }
}

.hospital {
  background-image: url("../../../../../public/images/pins/hospital.png");
}

.baby {
  background-image: url("../../../../../public/images/pins/baby.png");
}
.cart {
  background-image: url("../../../../../public/images/pins/cart.png");
}
.mortarboard {
  background-image: url("../../../../../public/images/pins/mortarboard.png");
}
.lipstick {
  background-image: url("../../../../../public/images/pins/lipstick.png");
}
.cup {
  background-image: url("../../../../../public/images/pins/cup.png");
}
.cinema {
  background-image: url("../../../../../public/images/pins/cinema.png");
}
