@import "../../../styles/variables";

.container {
  height: 494px;
  margin-bottom: 200px;
  @media screen and (max-width: 1360px) {
    gap: 53px;
  }
  @media screen and (max-width: 1200px) {
    height: 1221px;
  }
  @media (max-width: 600px) {
    height: 1401px;
  }
}

.container__background {
  height: 494px;
  background-color: #f4f5f5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  @media screen and (max-width: 1200px) {
    height: 1221px;
  }
  @media (max-width: 600px) {
    height: 1401px;
  }
}

.container__content {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  @media screen and (max-width: 1360px) {
    padding-right: 80px;
  }
  @media screen and (max-width: 1200px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 1000px) {
  }
  @media screen and (max-width: 800px) {
    padding-right: 40px;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    padding-right: 0;
  }

  & .box1 {
    display: flex;
    gap: 60px;
    @media screen and (max-width: 1360px) {
      gap: 50px;
      padding-right: 80px;
    }
    @media screen and (max-width: 1200px) {
      padding-top: 50px;
    }
    @media screen and (max-width: 1000px) {
      gap: 120px;
    }
    @media screen and (max-width: 800px) {
      gap: 110px;
      padding-right: 40px;
    }
    @media (max-width: 600px) {
      gap: 35px;
      flex-direction: column;
    }
  }
}

.container__button {
  margin-top: 40px;
  color: $color-primery-bardo;
  text-align: center;
  font-family: Baron Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  border: none;
  background: none;
  height: 22px;
  border-bottom: 2px solid;
  &:hover {
    color: $color-primery-bardo-hover;
  }
}
