$color-grey-1: #333333;
$color-neutral-black: #303030;
$color-neutral-dark-gray: #777;
$color-neutral-white: #FFF;
$color-primery-bardo: #7A1B1B;
$color-primery-purple: #C79791;
$color-primery-bardo-hover: #a82323;
