@font-face {
  font-family: "Baron Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Baron\ Neue.otf");
}

li {
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}


button {
  cursor: pointer;
}