@import "../../../../../styles/variables";

.about {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 30px;
  overflow: hidden;
  & li {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.about__title {
  color: $color-neutral-black;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.about__text {
  color: $color-neutral-dark-gray;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.about__button {
  display: none;
  margin: 90px 0 60px 0;
  color: $color-primery-bardo;
  text-align: center;
  font-family: Baron Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  border: none;
  background: none;
  height: 22px;
  border-bottom: 2px solid;
  @media screen and (max-width: 1200px) {
    display: block;
  }
}
