@import '../../../styles/variables';

.buttons {
    width: 60px;
    justify-content: space-around;
    display: flex;
    & button {
      height: 16px;
      background: none;
      background-repeat: no-repeat;
      border: none;
      & svg {
        fill: $color-primery-bardo;
        stroke-width: 1px;
        stroke: $color-primery-bardo;
      }
      &:hover {
        cursor: pointer;
        & svg {
          fill: $color-primery-bardo-hover;
          stroke-width: 1px;
          stroke: $color-primery-bardo-hover;
        }
      }
    }
  }
  