@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 285px;
}

.number {
  opacity: 0.10000000149011612;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  color: $color-primery-bardo;
  font-family: "Baron Neue";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.content {
  margin-top: 52px;
  padding-top: 20px;
  margin-left: 6px;
  background: white;
}

.title {
  width: 100%;
  color: #08131f;
  font-family: "Baron Neue";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  white-space: nowrap;
}

.text {
  height: 72px;
  margin-top: 16px;
  color: $color-grey-1;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.button {
  display: flex;
  margin-top: 25px;
  padding: 0;
  border: none;
  background: none;
  color: $color-primery-bardo;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  &:hover {
    color: $color-primery-bardo-hover;
  }
}
