@import "../../styles/variables";

.container {
  height: 720px;
  margin-top: 80px;
  position: relative;
  margin-bottom: 201px;
}

.background {
  width: 100%;
  height: 494px;
  background-color: #f4f5f5;
  & .content {
    padding: 70px 120px 74px;
    display: flex;
  }
}

h1 {
  margin-left: 120px;
  margin-bottom: 60px;
  width: 527px;
  color: $color-grey-1;
  font-family: "Baron Neue";
  font-size: 36px;
  line-height: 44px;
}
