.slider {
  display: grid;
  gap: 100px;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: hidden;
  gap: 100px;
  @media screen and (max-width: 1360px) {
    gap: 80px;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 1000px) {
    gap: 60px;
  }
  @media screen and (max-width: 800px) {
    gap: 40px;
    height: 280px;
  }
  @media (max-width: 600px) {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
